{% extends 'ObtaoBlogBundle::layout.html.twig' %}

{% block body %}

    <h1>Welcome!</h1>


    <ul>
        <li>
            <a href="{{ path('obtao-article-search') }}">List of article - simple search</a>
        </li>
        <li>
            <a href="{{ path('obtao-article-export') }}">Export with scan and scroll functions</a>
        </li>
    </ul>

{% endblock %}
