{% extends 'ObtaoBlogBundle::layout.html.twig' %}

{% block body %}

	<h1>Welcome!</h1>


	<ul>
		<li>
			<a href="{{ path('obtao-article-search') }}">List of article - simple search</a>
		</li>
	</ul>

{% endblock %}
