<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        {% block description %}
            <meta name="description" content="The Amazing Blog">
        {% endblock %}
        <title>{% block title %}The Amazing Blog{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
